@charset "UTF-8";
h1#principal{
    font-family: monospace;
    font-size: 4em;
    font-weight: normal;
    background-color: #f1f1f1;
    text-align: center;
  color: #73664F;
    height: 100px;
}
 
body{
    background-color:#F2913D;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: aqua;
}
h2{
    color: blue;
}
.basico{
    background-color: #d114b8;
}
.intermediario{
    background-color: brown;
}
.avancado{
    background-color: chartreuse;
   color: #9514d1;
}
.destaque{
    background-color: rgba(0, 128, 0, 0.281);
}